@import '../../vendor/filament/filament/resources/css/theme.css';

.shadow-trail {
    --tw-shadow: 4px 4px 0px 0px var(--tw-shadow-color);
    --tw-shadow-colored: 4px 4px 0px 0px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-trail-half {
    --tw-shadow: 2px 2px 0px 0px var(--tw-shadow-color);
    --tw-shadow-colored: 2px 2px 0px 0px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.hover\:shadow-trail-half:hover {
    --tw-shadow: 2px 2px 0px 0px var(--tw-shadow-color);
    --tw-shadow-colored: 2px 2px 0px 0px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

@mixin btn-primary {
    @apply flex gap-3 items-center hover:opacity-65 px-4 py-2 rounded-md text-white bg-primary/80 font-bold shadow-trail shadow-primary/95 hover:shadow-trail-half transition duration-200 ease-out hover:translate-x-1 hover:translate-y-0.5 active:translate-x-2 active:translate-y-1 active:shadow-none;
}

@mixin btn-danger {
    @apply flex gap-3 items-center hover:opacity-65 px-4 py-2 rounded-md text-white bg-red-500/80 font-bold shadow-trail shadow-red-500/95 hover:shadow-trail-half transition duration-200 ease-out hover:translate-x-1 hover:translate-y-0.5 active:translate-x-2 active:translate-y-1 active:shadow-none;
}

@mixin btn-success {
    @apply flex gap-3 items-center hover:opacity-65 px-4 py-2 rounded-md text-white bg-green-500/80 font-bold shadow-trail shadow-green-500/95 hover:shadow-trail-half transition duration-200 ease-out hover:translate-x-1 hover:translate-y-0.5 active:translate-x-2 active:translate-y-1 active:shadow-none;
}

/* Sidebar Button Components */
.fi-sidebar {
    .fi-sidebar-header {
        .fi-icon-btn-icon {
            @apply text-primary;
        }
    }

    .fi-sidebar-item-active {
        .fi-sidebar-item-button {
            @include btn-primary;
        }
    }

    .fi-sidebar-item {
        @apply mt-2
    }

    .fi-icon-btn {
        :hover {
            @apply hover:text-primary;
        }
    }

    .fi-sidebar-nav-groups {
        @apply gap-y-0;
    }
}

// Page Actions
.fi-ac {
    .fi-ac-action.fi-ac-btn-action.fi-btn-color-danger {
        @include btn-danger;
    }

    .fi-ac-action.fi-ac-btn-action {
        @include btn-primary;
    }
}

// Modal Actions Components (Forms) [Not Modal Confirmation]
.fi-modal-window:not(.max-w-md) {
    .fi-modal-footer-actions {
        .fi-ac-action.bg-white {
            @include btn-success;
    
            &:nth-last-child(1) {
                @include btn-danger;
            }
        }
    
        .fi-ac-action.bg-custom-600 {
            @include btn-primary;
        }
    }
}

.fi-modal-window:is(.max-w-md) {
    .fi-modal-footer-actions {
        .fi-ac-action.bg-white {
            @include btn-primary;
        }

        .fi-ac-action:last-child {
            @include btn-danger;
        }
    }
}

// Form Actions Components (Forms)
.fi-form-actions {
    .fi-ac-action.bg-white {
        @include btn-success;

        &:nth-last-child(1) {
            @include btn-danger;
        }
    }

    .fi-ac-action.bg-custom-600 {
        @include btn-primary;
    }
}

// Tabs Components
.fi-tabs {
    .fi-tabs-item.fi-active.fi-tabs-item-active {
        @apply bg-primary/80 text-white;
    }
}

// Tables Actions Components
.fi-ta-actions {
    .fi-ac-action.fi-ac-btn-action {
        @include btn-primary;
    }
}

.fi-btn.fi-color-primary {
    @include btn-primary;
}

.fi-tabs {
    @apply flex max-w-full gap-x-1 overflow-x-auto ml-0 mr-auto rounded-xl bg-white p-2 shadow-sm ring-1 ring-gray-950/5 dark:bg-gray-900 dark:ring-white/10;
}

// Tables Actions
.fi-ta-cell {
    .fi-ta-actions {
        .fi-ac-link-action:not(:last-child):not(:only-child) {
            .text-custom-600 {
                @apply text-primary/80;
            }
        }

        .fi-ac-link-action:last-child:not(:only-child) {
            .text-custom-600 {
                @apply text-red-500/80;
            }
        }

        .fi-ac-link-action:only-child {
            .text-custom-600 {
                @apply text-primary/80;
            }
        }
    }
}


.fi-sidebar-header {
    @apply bg-primary;

    .fi-logo {
        @apply text-white;
    }

    .fi-icon-btn {
        color: white !important;
        
        &:hover {
            color: white !important;
        }
        
        .fi-icon-btn-icon {
            color: white !important;
            
            &:hover {
                color: white !important;
            }
        }
    }
    
    .fi-icon-btn svg,
    .fi-icon-btn path {
        stroke: white !important;
    }
}

.fi-topbar {
    position: relative !important;

    .fi-icon-btn {
        @apply hover:text-white;

        .fi-icon-btn-icon {
            @apply text-white hover:text-white;
        }
    }
}

.fi-topbar nav {
    @apply bg-primary !important;
}